body {
    font-family: $fonts-main;
    color: $text-main-cl;
}

.main {
    margin-top: 80px;
}

.no-scroll {
    overflow: hidden;
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;

    /* outline: 2px solid red;
  outline-offset: -2px; */
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}


.section__title {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: calc(42 / 36);
    text-align: center;
    letter-spacing: 0.03em;
}

.uppertitle {
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.card-set {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    align-items: center;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}