.logo {
    display: block;
    font-family: $fonts-logo;
    font-weight: 700;
    font-size: 24px;
    line-height: calc(28 /24);
    letter-spacing: 0.03em;
    color: $text-nav-cl;


    &__left-side {
            color: $text-accent-cl;
        }
}


@media screen and (min-width: 768px) {
        .logo {
                 margin-right: 88px;
        }
        
}

@media screen and (min-width: 1200px) {
        .logo {
                margin-right: 93px;
                font-size: 26px;
                line-height: calc(31 /26);
        }

}


        // font-size: 26px;
        // line-height: calc(31 / 26);
        // 