.logo {
    display: block;
    font-family: $fonts-logo;
    font-weight: 700;
    font-size: 24px;
    line-height: calc(28 /24);
    letter-spacing: 0.03em;
    color: $text-nav-cl;


    &__left-side {
            color: $text-accent-cl;
        }
}


        // font-size: 26px;
        // line-height: calc(31 / 26);
        // margin-right: 93px;