.header {
    position: fixed;
    top: 0px;
    left: 0;
    width: 100%;
    z-index: 100;

    background-color: $text-white-cl;

    font-weight: 500;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.02em;
    border-bottom: 1px solid $border-color;

    transition: background-color $animation-modal,
    backdrop-filter $animation-modal;

    &.no-transparency {
            border-bottom: 0;
            background-color: rgba(255, 255, 255, 0.8);
            backdrop-filter: blur(3px);
        }


}

.header__container {
    display: flex;
    align-items: center;
}


.header__nav {
    margin-right: auto;
}

.header__list {
    display: flex;
    gap: 50px;
}

.header__link {
    display: block;
    color: $text-nav-cl;
    padding-top: 32px;
    padding-bottom: 31px;
    transition: color $animation;

    &:focus,
    &:hover,
    &--current {
            color: $text-accent-cl;
            position: relative;
        }

    &--current::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
                
            display: block;
            width: 100%;
            height: 4px;
            border-radius: 2px;
                
            background-color: $text-accent-cl;
        }

    
    &--contacts {
            display: flex;
            align-items: center;
            color: $text-second-cl;
        }
}

.header__icon {
    margin-right: 10px;
    fill: currentColor;
}

.header__mail {
    margin-right: 50px;
}