.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__mobile-menu {
    display: none;
    position: absolute;
    top: 60px;
    left: 0;

    background-color: white;
    outline: 1px solid red;
    width: 100%;
    height: 100vh;

    &.is-open {
        display: block;
    }

    &.is-open + .logo {
        display: none;
    }
}